<div ng-controller="MainCtrl as ctrl">
  <div class="left-sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Edit your Theme</h3>
      </div>
      <div class="panel-body">
        <div class="control-group">
          <label class="control-label" for="inputPassword">Font Family</label>
          <div class="controls">
            <select class="form-control" ng-model="ctrl.fontFamily" ng-options="font for font in ctrl.fonts" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="fontColor">Font Color</label>
          <div class="controls">
            <input id="fontColor" class="form-control" name="fontColor" ng-model="ctrl.fontColor" placeholder="#nnnnnn or <color-name>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="fontSize">Font Size</label>
          <div class="controls">
            <input id="fontColor" class="form-control" type="number" name="fontSize" ng-model="ctrl.fontSize" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Preview</h3>
    </div>
    <div class="theme-preview panel-body" ng-style="{'font-family': ctrl.fontFamily, 'color': ctrl.fontColor, 'font-size': ctrl.fontSize}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
  </div>
</div>
