<!-- <div ng-controller="MainCtrl as ctrl">
  <div class="left-sidebar">
    <div>
      <span>font: </span>
      <select ng-model="ctrl.fontFamily">
        <option value="">select</option>
        <option value="Helvetica">Helvetica</option>
      </select>
    </div>
    <div>
      <span>font color: </span><input ng-model="ctrl.fontColor" placeholder="#NNNNNN"/>
    </div>
  </div>
  <div class="main">
    <div class="theme-preview" ng-style="{'font-family': ctrl.fontFamily, 'color': ctrl.fontColor}">
      <p class="lead text-left">This is a demo theme</p>
    </div>
  </div>
</div>
 -->
<div ng-controller="MainCtrl as ctrl">
  <div class="left-sidebar">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Edit your Theme</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputPassword">Font Color</label>
            <div class="controls">
              <select class="form-control" ng-model="ctrl.fontFamily">
                <option value="Helvetica">Helvetica</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Font Color</label>
            <div class="controls">
              <input id="fontColor" ng-model="ctrl.fontColor" placeholder="#nnnnnn" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="main panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Preview</h3>
    </div>
    <div class="theme-preview panel-body" ng-style="{'font-family': ctrl.fontFamily, 'color': ctrl.fontColor}">
      <p class="lead text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
  </div>
</div>
