<div class="left-sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Edit your Theme</h3>
    </div>
    <div class="panel-body">
      <theme-editor-panel-component></theme-editor-panel-component>
    </div>
  </div>
</div>
<div class="main panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Preview</h3>
  </div>
  <div class="panel-body">
    <theme-preview-panel-component></theme-preview-panel-component>
  </div>
</div>
